<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TODO</title>
</head>
<body>
<h1>TODO</h1>
<div>
    {% for todo in todoList %}
    <h3>{{ todo.created_at }}</h3>
    <ul>
        <li>
            <a href="{% url 'todoList:detail' todo.id %}">{{ todo.todo_title }}</a>
        </li>
    </ul>
    {% if forloop.counter < todoLen %}
    <hr>
    {% endif %}
    {% endfor %}
</div>
<div>
    <form method="post" action="">
        {% csrf_token %}
        {{ todoForm.as_p }}
        <input type="submit" value="저장">
    </form>
</div>
</body>
</html>