<div class="col">
    <h2 class="text-center">Add</h2>

    <form method="post" action="{% url 'todoList:index' %}">
        {% csrf_token %}
        <!--
        <div class="form-group">
            <label for="id_todo_title">제목</label>
            <input class="form-control" type="text" name="todo_title" maxlength="20" id="id_todo_title" required>
        </div>
        <div class="form-group">
            <label for="id_todo_detail">내용</label>
            <textarea class="form-control" name="todo_detail" rows="10" id="id_todo_detail"></textarea>
        </div>

        <div class="form-group">
            <label for="id_todo_due_date">마감기한</label>
            <input class="form-control" type="date" id="id_todo_due_date" name="todo_due_date" value="{{ todayDate }}" min="{{ todayDate }}"/>
        </div>
        -->

        {{ todoForm.as_p }}
        <div class="text-right">
            <button class="btn btn-primary" type="submit">추가</button>
        </div>
    </form>
</div>