<div class="col">
    <h2 class="text-center">Passed</h2>
    <div class="col todoList-style">
        {% for todo in todoPassedList %}
        <div class="card text-white border-danger">
            <div class="card-body text-danger">
                {% if todo.todo_due_date != None %}
                <h6>Due Date {{ todo.todo_due_date|date:'Y-m-d' }}</h6>
                {% endif %}
                <h5 class="card-title">{{ todo.todo_title }}</h5>
                <p class="card-text">{{ todo.todo_detail }}</p>
                <div class="text-right">
                    <a class="btn btn-warning" href="{% url 'todoList:complete' todo.id %}">완료</a>
                    <button type="button" class="btn btn-info" disabled>
                        수정
                    </button>
                    <a class="btn btn-danger" href="{% url 'todoList:delete' todo.id %}">삭제</a>
                </div>
            </div>
        </div>
        {% if forloop.counter < todoPassedListLen %}
        <br>
        {% endif %}
        {% endfor %}
    </div>
</div>
