<div class="col">
    <h2 class="text-center">TODO List</h2>

    {% for todo in todoList %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ todo.todo_title }}</h5>
            <p class="card-text">{{ todo.todo_info }}</p>
            <div class="text-right">
                <a class="btn btn-info text-right" href="{% url 'todoList:detail' todo.id %}">detail</a>
            </div>
        </div>
    </div>
    {% if forloop.counter < todoLen %}
    <br>
    {% endif %}
    {% endfor %}
</div>
